.headerInstagram::before {
  content: '';
  background-image: url('../../public/img/insta.svg');
  background-position: 50%;
  background-size: 16px;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-bottom: 2px;
}