@import "~bootstrap/scss/bootstrap";
@import "typography";
@import "variables";
@import "../components/mainCard/mainCard";
//@import "../components/header/header.module";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;

  font-family: MPLUS1p, Glober, sans-serif;
  font-size: 16px;

  //overflow-y: hidden;
  background-color: $white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover {
  color: $secondary;
}


